<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#2b6cb0;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">🏥 Sistema de Administración</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navMenu">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item"><a class="nav-link" href="/">🏠 Inicio</a></li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">👨‍⚕️ Pacientes</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/agregar_paciente/">Agregar Paciente</a></li>
            <li><a class="dropdown-item" href="/ver_pacientes/">Ver Pacientes</a></li>
            <li><a class="dropdown-item" href="#">Actualizar Paciente</a></li>
            <li><a class="dropdown-item" href="#">Borrar Paciente</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">🧑‍💼 Terapeutas</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/agregar_terapeuta/">Agregar Terapeuta</a></li>
            <li><a class="dropdown-item" href="/ver_terapeuta/">Ver Terapeuta</a></li>
            <li><a class="dropdown-item" href="#">Actualizar Terapeuta</a></li>
            <li><a class="dropdown-item" href="#">Borrar Terapeuta</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">🧠 Terapias</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/agregar_terapia/">Agregar Terapia</a></li>
            <li><a class="dropdown-item" href="/ver_terapias/">Ver Terapia</a></li>
            <li><a class="dropdown-item" href="#">Actualizar Terapia</a></li>
            <li><a class="dropdown-item" href="#">Borrar Terapia</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">🧑‍💼 Citas</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/agregar_cita/">Agregar Cita</a></li>
            <li><a class="dropdown-item" href="/ver_citas/">Ver Cita</a></li>
            <li><a class="dropdown-item" href="#">Actualizar Cita</a></li>
            <li><a class="dropdown-item" href="#">Borrar Cita</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">🧑‍💼 Pago</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/agregar_pago/">Agregar Pago</a></li>
            <li><a class="dropdown-item" href="/ver_pago/">Ver Pago</a></li>
            <li><a class="dropdown-item" href="#">Actualizar Pago</a></li>
            <li><a class="dropdown-item" href="#">Borrar Pago</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>
